<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.seehope.foodie_shop.mapper.AdminMapper">
    <insert id="insertAdmin"></insert>
    <!-- 添加商品系列插入 开始 -->
    <insert id="addItem" parameterType="net.seehope.foodie_shop.bo.ItemBo">
        insert into items
            (id,item_name,cat_id,root_cat_id,sell_counts,on_off_status,content,created_time,updated_time)
        values
            (#{itemsId},#{itemName},#{catId},#{rootCatId},0,#{onOffStatus},#{content},#{createdTime},#{updatedTime})
    </insert>
    <insert id="addItemParam" parameterType="net.seehope.foodie_shop.bo.ItemBo">
        insert into items_param
            (id,item_id,produc_place,foot_period,brand,factory_name,factory_address,packaging_method,weight,storage_method,eat_method,created_time,updated_time)
        values
            (#{itemsParamId},#{itemsId},#{productPlace},#{brand},#{footPeriod},#{factoryName},#{factoryAddress},#{packagingMethod},#{weight},#{storageMethod},#{eatMethod},#{createdTime},#{updatedTime})
    </insert>
    <insert id="addItemImg" parameterType="net.seehope.foodie_shop.bo.ImgUrlBo">
        insert into items_img
            (id,item_id,url,sort,is_main,created_time,updated_time)
        values
            (#{itemsImgId},#{itemId},#{url},#{sort},#{isMain},#{createdTime},#{updatedTime})
    </insert>
    <insert id="addItemSpec" parameterType="net.seehope.foodie_shop.bo.ItemBo">
        insert into items_spec
            (id,item_id,name,stock,discounts,price_discount,price_normal,created_time,updated_time)
        values
            (#{itemsSpecId},#{itemsId},#{name},#{stock},#{discounts},#{priceDiscount},#{priceNormal},#{createdTime},#{updatedTime})
    </insert>
    <!-- 添加商品系列操作 结束 -->

<!--  更新商品状态 开始 -->
    <update id="putGoodsOnSell">
            update items set on_off_status = 1 where id = #{item.id}
    </update>
    <update id="offGoodsDownSell">
        update items set on_off_status = 0 where id = #{item.id}
    </update>

    <update id="updateGoodsMsg" parameterType="net.seehope.foodie_shop.bo.SimpleUpdateGoodsBo">
        update items_spec
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null and name !=''">
                name = #{name},
            </if>
            <if test="price!=null and price!=''">
                price_normal = #{price},
            </if>
            <if test="stock!=null and stock!=''">
                stock = #{stock},
            </if>
        </trim>
        where id = #{itemSpecId}
    </update>
    <!--  更新商品状态 结束 -->

    <!--  删除商品系列操作 开始  -->
    <delete id="deleteGoodsMsgInItemTable">
        DELETE FROM items WHERE id=#{itemId}
    </delete>
    <delete id="deleteGoodsMsgInItemParamTable">
        DELETE FROM items_param WHERE item_id=#{itemId}
    </delete>
    <delete id="deleteGoodsMsgInItemImgTable">
        DELETE FROM items_img WHERE item_id=#{itemId}
    </delete>
    <delete id="deleteGoodsMsgInItemSpecTable">
        DELETE FROM items_spec WHERE item_id=#{itemId}
    </delete>
    <!--  删除商品系列操作 结束  -->

    <select id="queryAdminNameIsExist" resultType="net.seehope.foodie_shop.pojo.Admin" parameterType="String">
        select * from admin_table where username = #{username}
    </select>
    <select id="queryUserByUsernameAndPassword" resultType="net.seehope.foodie_shop.vo.AdminVo">
        select * from admin_table where username = #{username} and password=#{password}
    </select>
    <select id="queryUserPasswordByUsername" resultType="net.seehope.foodie_shop.vo.AdminVo" parameterType="String">
        select * from admin_table where username = #{username}
    </select>
    <select id="queryAdminById" resultType="net.seehope.foodie_shop.pojo.Admin">
        select * from admin_table where id=#{id}
    </select>

    <select id="getConsoleData" resultType="net.seehope.foodie_shop.vo.ConsoleDataVo">
        SELECT
            *
        FROM
                ( SELECT COUNT( id ) usersNum FROM users ) t1,(
            SELECT
                COUNT( id ) ordersNum
            FROM
                orders
        ) t2,(
                    SELECT
                        sum( o.real_pay_amount) allIncomes
                    FROM
                        orders o
                            LEFT JOIN order_status os ON o.id = os.order_id
                    WHERE
                        os.order_status IN ( 20, 30, 40, 50 )) t3,(
                    SELECT
                        COUNT( id ) itemsNum
                    FROM
                        items
                ) t4
    </select>
    <select id="getAllGoodsList" resultType="net.seehope.foodie_shop.vo.GoodListVo">
        SELECT
            items.id itemId,
            items_spec.id itemSpecId,
            items.item_name itemName,
            items_spec.name flavor,
            items_spec.price_normal price,
            items_spec.stock stock,
            items.sell_counts sellCounts,
            items.on_off_status goodsStatus
        FROM
            items
                LEFT JOIN items_spec ON items.id = items_spec.item_id
    </select>

    <select id="getAllUsersList" resultType="net.seehope.foodie_shop.vo.UserListVo">
        SELECT id,username,mobile,email FROM users
    </select>
    <select id="getAllAdminsList" resultType="net.seehope.foodie_shop.pojo.Admin">
        select * from admin_table
    </select>
    <select id="getAllOrdersList" resultType="net.seehope.foodie_shop.vo.OrderListVo">
        SELECT
            id orderId,
            receiver_name receiverName,
            receiver_mobile receiverMobile,
            receiver_address receiverAddress,
            order_status.order_status orderStatus,
            left_msg leftMsg,
            orders.created_time createTime
        FROM
            orders LEFT JOIN order_status ON orders.id = order_status.order_id
    </select>
</mapper>